
body{ 
  background: url(../img/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}
.contenedor_instalacion{
	padding: 20px;
	width: 60%;
	background-color: white;
	text-align: left;
	opacity: 0.9;
	box-shadow: 5px 5px 15px #0080FF;
	border-style: outset;
}
